@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<address>
    Alcântara, 435 AP 202<br />
    Boa Vista, 89206-300<br />
    <abbr title="Phone">Tel:</abbr>
    (47) 99685-8151
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:raul.fmleite@gmail.com">raul.fmleite@gmail.com</a><br />
</address>